
<form method="post" data-request="{{__SELF__}}::onSubmit" data-request-files data-request-flash  enctype="multipart/form-data">
	<input type="hidden" name="_handler" value="onSubmit">
	{{ form_token() }}
	{{ form_sessionKey() }}
	<div class="row ui form" id="tdwg">
		<div class="col-xs">
			<div class="row middle-xs">
				<div class="col-xs-12 col-sm-8">
					<h1>
						TDWG 2022 registration form
					</h1>
				</div>

			</div>
			<input type="hidden" name="registration_id" value="{{data.id}}">
			<div class="row">
				<div class="col-xs">
					<div class="alert alert-danger" data-validate-error="">
						<p data-message="" class="flash-message static error"></p>
					</div>
				</div>
			</div>
			<div class="row box">
				<div class="col-md-4 col-xs-12 field" id="registration_request_field">
					<label for="type"><p>I will attend<span class="required">*</span></p></label>
					<select id="type" name="type" required>
						<option value="">-- Choose --</option>
						<option value="physical" id="physical" {% if (data.type == "physical") %} selected {% endif %}>in-person</option>
						<option value="virtual" id="virtual"{% if (data.type == "virtual") %} selected {% endif %}>online</option>
					</select>
				</div>

			</div>
			<div class="row box">
				<div class="col-md-6 col-xs-12 field">

					<div class="field">
						<label for="email"><p>Email<span class="required">*</span></p></label>
						<input type="text" id="email" name="email" value="{{data.email}}" required>
					</div>
				</div>
				<div class="col-md-6 col-xs-12 field">

					<div class="field">
						<label for="verify_email"><p>Verify email<span class="required">*</span></p></label>
						<input type="text" id="verify_email" name="verify_email" value="{{data.email}}" required>
					</div>
				</div>
			</div>
			<div class="row box">
				<div class="col-md-4 col-xs-12 field">

					<div class="field">
						<label for="prefix"><p>Prefix</p></label>
						<input type="text" id="prefix" name="prefix" value="{{data.prefix}}">
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-4 col-xs-12 field">

					<div class="field">
						<label for="first_name"><p>First name<span class="required">*</span></p></label>
						<input type="text" id="first_name" name="first_name" value="{{data.first_name}}" required>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 field">

					<div class="field">
						<label for="middle_name"><p>Middle name</p></label>
						<input type="text" id="middle_name" name="middle_name" value="{{data.middle_name}}">
					</div>
				</div>
				<div class="col-md-4 col-xs-12 field">

					<div class="field">
						<label for="last_name"><p>Last name<span class="required">*</span></p></label>
						<input type="text" id="last_name" name="last_name" value="{{data.last_name}}" required>
					</div>
				</div>
			</div>
			<div class="row box">
				<div class="col-md-6 col-xs-12 field">

					<div class="field">
						<label for="suffix"><p>Suffix (e.g. Jr., PhD, MD, etc.)</p></label>
						<input type="text" id="suffix" name="suffix" value="{{data.suffix}}">
					</div>
				</div>
				<div class="col-md-6 col-xs-12 field">

					<div class="field">
						<label for="first_name_tag"><p>Name tag (first and last names)</p></label>
						<input type="text" id="first_name_tag" name="first_name_tag" value="{{data.first_name_tag}}">
					</div>
				</div>
			</div>
			<div class="row box">
				<div class="col-md-6 col-xs-12 field">

					<div class="field">
						<label for="last_name_tag"><p>Affiliation</p></label>
						<input type="text" id="last_name_tag" name="last_name_tag" value="{{data.last_name_tag}}">
					</div>
				</div>
				<div class="col-md-6 col-xs-12 field">

					<div class="field">
						<label for="title"><p>Position</p></label>
						<input type="text" id="title" name="title" value="{{data.title}}">
					</div>
				</div>
			</div>


			<div class="row box">
				<div class="col-md-12 col-xs-12 field">

					<div class="field">
						<label for="address"><p>Address line 1<span class="required">*</span></p></label>
						<input type="text" id="address" name="address" value="{{data.address|striptags}}" required>
					</div>
				</div>
			</div>
			<div class="row box">
				<div class="col-md-12 col-xs-12 field">

					<div class="field">
						<label for="address"><p>Address line 2</p></label>
						<input type="text" id="address2" name="address2" value="{{data.address2}}">
					</div>
				</div>
			</div>
			<div class="row box">
				<div class="col-md-6 col-xs-12 field">

					<div class="field">
						<label for="city"><p>City<span class="required">*</span></p></label>
						<input type="text" id="city" name="city" value="{{data.city}}" required>
					</div>
				</div>
				<div class="col-md-6 col-xs-12 field">

					<div class="field">
						<label for="region"><p>State / Province / Region</p></label>
						<input type="text" id="region" name="region" value="{{data.region}}">
					</div>
				</div>
			</div>
			<div class="row box">
				<div class="col-md-6 col-xs-12 field">
					<div class="field">
						<label for="postal_code"><p>Zip / Postal Code<span class="required">*</span></p></label>
						<input type="text" id="postal_code" name="postal_code" value="{{data.postal_code}}" required>
					</div>
				</div>
				<div class="col-md-6 col-xs-12 field">

					<div class="field" id="country_field">
						<label for="country"><p>Country<span class="required">*</span></p></label>
						<select id="country" name="country" required>
							<option value="">-- Choose country --</option>
							{% for country in countries %}
							<option value="{{ country.id }}" {% if (data.country_id == country.id) %} selected {% endif %}>{{ country.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
			<div class="row box">
				<div class="col-md-6 col-xs-12 field">

					<div class="field">
						<label for="phone"><p>Phone (include also the counry code)</p></label>
						<input type="text" id="phone" name="phone" value="{{data.phone}}">
					</div>
				</div>

			</div>
			<div class="row box">
				<div class="col-md-6 col-xs-12 field">

					<div class="field">
						<label for="emergency_contact_name"><p>Emergency contact name<span class="required">*</span></p></label>
						<input type="text" id="emergency_contact_name" name="emergency_contact_name" value="{{data.emergency_contact_name}}" required>
					</div>
				</div>
				<div class="col-md-6 col-xs-12 field">

					<div class="field">
						<label for="emergency_contact_phone"><p>Emergency contact phone (include also the counry code)<span class="required">*</span></p></label>
						<input type="text" id="emergency_contact_phone" name="emergency_contact_phone" value="{{data.emergency_contact_phone}}" required>
					</div>
				</div>
			</div>
			<div class="row box">
				<div class="col-md-6 col-xs-12 field">
					<div class="field">
						<label for="slack_email"><p>Preferred email when using Slack or Discord (may not match registration email)</p></label>
						<input type="text" id="slack_email" name="slack_email" value="{{data.slack_email}}">
					</div>
				</div>
				<div class="col-md-6 col-xs-12 field">

					<div class="field">
						<label for="twitter"><p>My twitter handle <br> &nbsp; </p></label>
						<input type="text" id="twitter" name="twitter" value="{{data.twitter}}">
					</div>
				</div>
			</div>

			<div class="row box">
				<div class="col-md-12 col-xs-12 field">

					<div class="field">
						<label for="comments"><p>Comments (use this textbox to specify any concerns, general comments, or special needs (e.g. dietary, disability, etc.)</p></label>
						<textarea name="comments" id="comments" cols="" rows="12">{{data.comments}}</textarea>
						<script>
							// instance, using default configuration.
							CKEDITOR.replace( 'comments' );

						</script>
					</div>
				</div>
			</div>
			<div class="row box">
				<div class="col-md-6 col-xs-12 field" id="discount_options_field">
					<label for="discount_options"><p>Ticket type</p></label>
					<select id="discount_options" name="discount_options" required>
						<option value="">-- Choose --</option>
						{% for option in discount_options %}
							<option value="{{ option.id }}" id="ticket_{{ option.id }}" {% if (data.discount_option_id == option.id) %} selected {% endif %}>{{ option.name }} - {{ option.amount }} {{ option.currency }}</option>
						{% endfor %}
					</select>
					<div id="ticket_type_message" class="ticket_type_message">Early Registration Discount <b>-50 &euro;</b> will be applied</div>
				</div>
				<div class="col-md-6 col-xs-12 field" id="members_code_field">
					<label for="discount_code"><p>Members code (case-sensitive)</p></label>
					<input type="text" id="discount_code" name="discount_code" value="{{data.discount_code}}">
					<div id="discount_code_success_message" class="discount_code_success_message"></div>
					<div id="discount_code_err_message" class="discount_code_err_message"></div>
				</div>
			</div>

			<div class="row box">
				<div class="col-md-6 col-xs-12 field" id="accompanying_person_field_container">
					<label for="accompanying_person"><p>Accompanying person - 135 &euro;</p></label>
					<!-- Rounded switch -->
					<label class="switch">
						<input type="checkbox" name="accompanying_person" id="accompanying_person_field" value="1" {% if (data.accompanying_person == 1) %} checked {% endif %}>
						<span class="slider round"></span>
					</label>
				</div>
				<div class="col-md-6 col-xs-12 field" id="accompanying_person_name_field">
					<label for="accompanying_person_name"><p>Accompanying person name</p></label>
					<input type="text" id="accompanying_person_name" name="accompanying_person_name" value="{{data.accompanying_person_name}}">
					<br>
					<label for="accompanying_person_has_invoice"><p>I want an extra invoice for the accompanying person</p></label>
					<!-- Rounded switch -->
					<label class="switch">
						<input type="checkbox" name="accompanying_person_has_invoice" id="accompanying_person_has_invoice_field" value="1" {% if (data.accompanying_person_has_invoice == 1) %} checked {% endif %}>
						<span class="slider round"></span>
					</label>
				</div>
			</div>

			<div class="row box">
				<div class="col-md-12 col-xs-12 field">
					<label for="help_others"><p>Help others: I want to donate funds for those who need support for registration. - 25 &euro;</p></label>
					<!-- Rounded switch -->
					<label class="switch">
						<input type="checkbox" name="help_others" value="1" id="help_others_field" {% if (data.help_others == 1) %} checked {% endif %}>
						<span class="slider round"></span>
					</label>
					<div id="help_others_has_invoice_field_container">
						<br>
						<label for="help_othersn_has_invoice"><p>I want an extra invoice for the donating funds</p></label>
						<br>
						<!-- Rounded switch -->
						<label class="switch">
							<input type="checkbox" name="help_others_has_invoice" id="help_others_has_invoice_field" value="1" {% if (data.help_others_has_invoice == 1) %} checked {% endif %}>
							<span class="slider round"></span>
						</label>
					</div>
				</div>
			</div>

			<div class="row box">
				<div class="col-md-12 col-xs-12 field" id="payment_options_field">
					<label for="payment_options"><p>Payment options<span class="required">*</span></p></label>
						<label><input name="payment_options[]" type="radio" value="pay_now" {% if (data.payment_options == "pay_now") %} checked {% endif %} required>Pay now (Bank card, PayPal)</label>
						<label><input name="payment_options[]" type="radio" value="group_invoice" {% if (data.payment_options == "group_invoice") %} checked {% endif %} required>Pay later (group invoice or extra invoice, payment due on receipt by Bank card, PayPal)</label>
				</div>
			</div>
			<div id="group_invoice_fields" style="display: none;">
				<div class="row box">
					<div class="col-md-12 col-xs-12 field">

						<div class="field">
							<label for="group_members_list"><p>For group invoice: List of people who will register and should be added to the same invoice; For extra invoice: provide more details<span class="required">*</span></p></label>
							<textarea name="group_members_list" id="group_members_list" cols="" rows="12">{{data.invoice_group_members}}</textarea>
							<script>
								// instance, using default configuration.
								CKEDITOR.replace( 'group_members_list' );

							</script>
						</div>
					</div>
				</div>
				<div class="row box">
					<div class="col-md-12 col-xs-12 field">

						<div class="field">
							<label for="billing_details"><p>Billing details for the group or extra invoice [company name, address, country, VAT number (if applicable)]<span class="required">*</span></p></label>
							<textarea name="billing_details" id="billing_details" cols="" rows="12">{{data.billing_details}}</textarea>
							<script>
								// instance, using default configuration.
								CKEDITOR.replace( 'billing_details' );

							</script>
						</div>
					</div>
				</div>
				<div class="row box">
					<div class="col-md-12 col-xs-12 field">

						<div class="field">
							<label for="invoice_email"><p>E-mail address where the group or extra invoice will be sent<span class="required">*</span></p></label>
							<input type="text" id="invoice_email" name="invoice_email" value="{{data.invoice_email}}">
						</div>
					</div>
				</div>
			</div>

				<div class="custom_check">
					<div class="row box">
						<div class="col-md-12 col-xs-12 field">
							<label for="checkbox_code_of_conduct"><p><input type="checkbox" name="checkbox_code_of_conduct" value="1" id="checkbox_code_of_conduct" {% if (data.checkbox_code_of_conduct == 1) %} checked {% endif %}> I have read the <a href="https://www.tdwg.org/about/code-of-conduct/" target="_blank">Code of Conduct</a> and <a href="https://www.tdwg.org/about/terms-of-use/" target="_blank">Terms of Use</a> and agree to abide by them.<span class="required">*</span></p></label>
						</div>
					</div>


					<div class="row box">
						<div class="col-md-12 col-xs-12 field">
							<label for="checkbox_presenting"><p><input type="checkbox" name="checkbox_presenting" value="1" id="checkbox_presenting" {% if (data.checkbox_presenting == 1) %} checked {% endif %}> If I am presenting or participating in the conference, I understand the meetings and presentations will be recorded and posted at a future date on the public TDWG YouTube channel.<span class="required">*</span></p></label>
						</div>
					</div>


					<div class="row box">
						<div class="col-md-12 col-xs-12 field">
							<label for="checkbox_agree"><p><input type="checkbox" name="checkbox_agree" value="1" id="checkbox_agree" {% if (data.checkbox_agree == 1) %} checked {% endif %}> I agree to be contacted by event organizers.<span class="required">*</span></p></label>
						</div>
					</div>


					<div class="row box">
						<div class="col-md-12 col-xs-12 field">
							<label for="checkbox_media"><p><input type="checkbox" name="checkbox_media" value="1" id="checkbox_media" {% if (data.checkbox_media == 1) %} checked {% endif %}> For any presentation I submit, I am responsible for ensuring all images and media are properly licensed / credited or <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a>.<span class="required">*</span> (see <a href="https://www.tdwg.org/about/terms-of-use/" target="_blank">Terms of Use</a>)</p></label>
						</div>
					</div>


					<div class="row box">
						<div class="col-md-12 col-xs-12 field">
							<label for="checkbox_optional_abstract"><p><input type="checkbox" name="checkbox_optional_abstract" value="1" id="checkbox_optional_abstract" {% if (data.checkbox_optional_abstract == 1) %} checked {% endif %}> I plan to submit an abstract.</p></label>
						</div>
					</div>
					<div class="row box hide_for_virtual">
						<div class="col-md-12 col-xs-12 field">
							<label for="checkbox_optional_attend_welcome"><p><input type="checkbox" name="checkbox_optional_attend_welcome" value="1" id="checkbox_optional_attend_welcome" {% if (data.checkbox_optional_attend_welcome == 1) %} checked {% endif %}> I plan to attend the Welcome reception on 16 October 2022 (included in the in-person registration fee).</p></label>
						</div>
					</div>
					<div class="row box hide_for_virtual">
						<div class="col-md-12 col-xs-12 field">
							<label for="checkbox_optional_attend_excursion"><p><input type="checkbox" name="checkbox_optional_attend_excursion" value="1" id="checkbox_optional_attend_excursion" {% if (data.checkbox_optional_attend_excursion == 1) %} checked {% endif %}> I plan to attend the excursion to Rila Monastery on Wednesday 19 October 2022 (included in the in-person registration fee).</p></label>
						</div>
					</div>
					<div class="row box hide_for_virtual">
						<div class="col-md-12 col-xs-12 field">
							<label for="checkbox_optional_attend_conference"><p><input type="checkbox" name="checkbox_optional_attend_conference" value="1" id="checkbox_optional_attend_conference" {% if (data.checkbox_optional_attend_conference == 1) %} checked {% endif %}> I plan to attend the conference banquet on Thursday  20 October 2022 (included in the in-person registration fee).</p></label>
						</div>
					</div>
					<div class="row box">
						<div class="col-md-12 col-xs-12 field">
							<label for="checkbox_optional_contacted"><p><input type="checkbox" name="checkbox_optional_contacted" value="1" id="checkbox_optional_contacted" {% if (data.checkbox_optional_contacted == 1) %} checked {% endif %}> I agree to be contacted by event Supporters post-conference.</p></label>
						</div>
					</div>
					<div class="row box hide_for_virtual">
						<div class="col-md-12 col-xs-12 field">
							<label for="checkbox_optional_understand"><p><input type="checkbox" name="checkbox_optional_understand" value="1" id="checkbox_optional_understand" {% if (data.checkbox_optional_understand == 1) %} checked {% endif %}> I understand the fee for anyone I add to accompany me covers the welcome reception, excursion to Rila monastery and banquet.</p></label>
						</div>
					</div>
					<div class="row box">
						<div class="col-md-12 col-xs-12 field">
							<label for="checkbox_optional_open_session"><p><input type="checkbox" name="checkbox_optional_open_session" value="1" id="checkbox_optional_open_session" {% if (data.checkbox_optional_open_session == 1) %} checked {% endif %}> I'm willing to chair /  moderate a general open session at TDWG2022</p></label>
						</div>
					</div>
					<div class="row box">
						<div class="col-md-12 col-xs-12 field">
							<label for="checkbox_optional_agree_shared"><p><input type="checkbox" name="checkbox_optional_agree_shared" value="1" id="checkbox_optional_agree_shared" {% if (data.checkbox_optional_agree_shared == 1) %} checked {% endif %}> I agree for my name, affiliation, and email to be shared after the conference with other attendees</p></label>
						</div>
					</div>
				</div>


					<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />

					<div class="row center-xs">
						<div class="col-xs-12 col-md-3">
							<input type="submit" name="tAction" value="Preview" class="btn btn-primary">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>

{% framework extras %}
{% scripts %}